* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: yellow; 
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

    
}


body {
    background-image: url("/assets/css/back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}